@model IEnumerable<QuizLogic.Models.QuestionOption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question.QuestionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrect)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionOptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionOptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionOptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
