@model IEnumerable<QuizLogic.Models.QuestionRule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScorePerQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerAllQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseUnlimitedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfAllowedAttempt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfAttemptPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScorePerQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerAllQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseUnlimitedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfAllowedAttempt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfAttemptPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionRuleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionRuleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionRuleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
